## **Setup**

In [1]:
!pip install gmaps

Requirement already satisfied: gmaps in c:\users\t\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\t\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: geojson>=2.0.0 in c:\users\t\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: six in c:\users\t\anaconda3\lib\site-packages (from gmaps) (1.14.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\t\anaconda3\lib\site-packages (from gmaps) (7.12.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\t\anaconda3\lib\site-packages (from gmaps) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\t\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.4)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\t\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\t\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.3)
Requirement already satisfied: setuptools>=18.5 in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (45.2.0.post20200210)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.3)
Requirement already satisfied: pygments in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.5.2)
Requirement already satisfied: backcall in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: decorator in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.1)
Requirement already satisfied: jedi>=0.10 in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.14.1)
Requirement already satisfied: pickleshare in c:\users\t\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: ipython-genutils in c:\users\t\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: jupyter-client in c:\users\t\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: tornado>=4.2 in c:\users\t\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-core in c:\users\t\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\t\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\t\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: wcwidth in c:\users\t\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in c:\users\t\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.2)
Requirement already satisfied: pyzmq>=13 in c:\users\t\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (18.1.1)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\t\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\t\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\t\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\t\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\t\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.7)
Requirement already satisfied: prometheus-client in c:\users\t\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: nbconvert in c:\users\t\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: Send2Trash in c:\users\t\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\t\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: jinja2 in c:\users\t\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.1)
Requirement already satisfied: zipp>=0.5 in c:\users\t\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.2.0)
Requirement already satisfied: bleach in c:\users\t\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: testpath in c:\users\t\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\t\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: defusedxml in c:\users\t\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\t\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\t\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\t\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: webencodings in c:\users\t\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

## **Store Part I results into DataFrame**
* Load the csv exported in Part I to a DataFrame

In [4]:
file = "output_data/cities.csv"

cities_data = pd.read_csv(file)

cities_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,atuona,-9.80,-139.03,79.20,78,15,19.73,PF,1598746346
1,talnakh,69.49,88.40,44.60,100,90,4.47,RU,1598746346
2,white rock,35.25,-91.73,75.99,94,1,9.62,US,1598746222
3,puerto quijarro,36.59,-6.23,68.00,45,8,4.70,ES,1598746346
4,port alfred,-7.03,29.76,75.07,52,0,5.61,CD,1598746163


## **Humidity Heatmap**
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps with API key
gmaps.configure(g_key)

In [6]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_data[["Lat", "Lng"]].astype(float)

# Convert Poverty Rate to float and store
#census_data_complete = census_data_complete.dropna()
humidity = cities_data["Humidity"].astype(float)

In [7]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## **Create new DataFrame fitting weather criteria**
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
weather_cond = cities_data.loc[(cities_data["Max Temp"] > 70) & (cities_data["Max Temp"] < 80) & (cities_data["Wind Speed"] < 10) & (cities_data["Cloudiness"] == 0), :]

weather_cond

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,port alfred,-7.03,29.76,75.07,52,0,5.61,CD,1598746163
100,arraial do cabo,-22.84,-46.65,78.80,36,0,3.36,BR,1598746370
153,korla,41.76,86.15,71.01,66,0,3.00,CN,1598746381
187,maua,-23.67,-46.46,75.20,50,0,3.36,BR,1598746389
222,port lincoln,-7.03,29.76,75.07,52,0,5.61,CD,1598746163
232,port elizabeth,-7.03,29.76,75.07,52,0,5.61,CD,1598746163
264,port hardy,-7.03,29.76,75.07,52,0,5.61,CD,1598746407
281,port hedland,-7.03,29.76,75.07,52,0,5.61,CD,1598746163
305,port hawkesbury,-7.03,29.76,75.07,52,0,5.61,CD,1598746415
326,agdam,39.99,46.93,70.02,57,0,3.02,AZ,1598746420
387,pafos,34.77,32.42,71.60,73,0,9.17,CY,1598746435
416,lixourion,38.20,20.43,75.34,73,0,0.94,GR,1598746442
433,hariana,31.64,75.84,79.20,74,0,3.49,IN,1598746446
533,port blair,-7.03,29.76,75.07,52,0,5.61,CD,1598746470
557,sanandaj,35.31,46.99,75.20,23,0,4.70,IR,1598746475
568,siavonga,-16.54,28.71,73.98,39,0,5.10,ZM,1598746282

In [9]:
ideal_weather = weather_cond.dropna()

## **Hotel Map**
* Store into variable named hotel_df.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
#Add hotel name
hotel_df = ideal_weather
hotel_df['Hotel Name'] = ""

#Define target
target_search = "Hotel"
target_radius = 5000
target_type = "lodging"

index_1 = 0
for index, row in hotel_df.iterrows():
    # set up a parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # request using dictionary
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[index_1, -1] = name
    index_1 = index_1 + 1

hotel_df = hotel_df.dropna()

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,port alfred,-7.03,29.76,75.07,52,0,5.61,CD,1598746163,
100,arraial do cabo,-22.84,-46.65,78.80,36,0,3.36,BR,1598746370,
153,korla,41.76,86.15,71.01,66,0,3.00,CN,1598746381,
187,maua,-23.67,-46.46,75.20,50,0,3.36,BR,1598746389,
222,port lincoln,-7.03,29.76,75.07,52,0,5.61,CD,1598746163,
232,port elizabeth,-7.03,29.76,75.07,52,0,5.61,CD,1598746163,
264,port hardy,-7.03,29.76,75.07,52,0,5.61,CD,1598746407,
281,port hedland,-7.03,29.76,75.07,52,0,5.61,CD,1598746163,
305,port hawkesbury,-7.03,29.76,75.07,52,0,5.61,CD,1598746415,
326,agdam,39.99,46.93,70.02,57,0,3.02,AZ,1598746420,
387,pafos,34.77,32.42,71.60,73,0,9.17,CY,1598746435,
416,lixourion,38.20,20.43,75.34,73,0,0.94,GR,1598746442,Villas Vatsa
433,hariana,31.64,75.84,79.20,74,0,3.49,IN,1598746446,
533,port blair,-7.03,29.76,75.07,52,0,5.61,CD,1598746470,
557,sanandaj,35.31,46.99,75.20,23,0,4.70,IR,1598746475,
568,siavonga,-16.54,28.71,73.98,39,0,5.10,ZM,1598746282,

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add layer

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))